*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#202020;
}
.quotes_holder{
    height: 25rem;
    width: 45rem;
    background-color: #1eb5ff;
    border: 1px solid #1eb5ff;
    padding: 2rem;
    margin: 10rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    filter: drop-shadow(1px 1px 30px #5becff);
}
.title{
    width: 100%;
    text-align: center;
    text-shadow: 2px 3px 1px #000dff;
    color: #e8005d;
}
.content{
    width: 80%;
    height: 25rem;
    background-color: #990251;
    border: 1px solid #ff247b;
    filter: drop-shadow(1px 1px 10px #ff247b);
    margin-top: 10px;
    text-align: center;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-transform: capitalize;
    padding: 2px;
}
.btn{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 10px;
}
button{
    height: 3rem; 
    width: 8rem;
    background-color: #d7005d;
    border: 0;
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid #ff247b;
    filter: drop-shadow(1px 1px 10px #ff247b);
}
button:hover{
    cursor: pointer;
}